
p{
	color: yellow;
}

*{
	font-family: "Arial", sans-serif;
	font-size: 22px;
}

h1{
	font-size: 2rem ;
}

#pageDesc{
	text-transform: uppercase;
}

.languages{
	background-color: seagreen;
}

li[value]{
	border-style: solid;	
}

h3 + ul{
	list-style-type: none;
}

div img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

p~h3{
	text-align: center;
}

div > ul{
	letter-spacing: 8px;
}



